.ShowTable{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  background-color: white;
  border-top: 2px solid var(--primary-color);
  z-index: 10;
  overflow: scroll;
}

.ShowTable__table{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  margin-top: 25px;
}

.ShowTable__header--row{
  font-size: 18px;
  border-bottom: 2px solid var(--primary-color);
}

.ShowTable__header--row, .ShowTable__table--line{
  display: flex;
}
.ShowTable__header--text, .ShowTable__line--text, .ShowTable__line--options{
  padding: 10px;
  width: 20%;
  text-align: center;
}
.ShowTable__line--text{
  margin: auto;
  font-size: 16px;
}
.ShowTable__table--line{
  border-bottom: 1px solid #000;
}
.ShowTable__line--options{
  display: flex;
  justify-content: space-around;
}
.ShowTable__option--edit{
  color: var(--primary-color);
}
.ShowTable__option--delete{
  color:red;
}
.ShowTable__option--button{
  border: none;
  background-color: transparent;
  padding: 10px;
  font-size: 18px;
  outline: none;
}
.ShowTable--noTable{
  display: flex;
  justify-content: center;
  padding: 25px;
  font-size: 24px;
}

.ShowTable__load{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: #fff;
  width: 30px;
  height: 30px;
  border: solid 2px var(--primary-color);
  border-radius: 5px;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  padding: 0;
  outline: none;
}
.ShowTable--loader{
  animation: loader 1s forwards infinite;
}

@keyframes loader {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}