.Info {
    background-color: white;
    align-items: center;
    position: absolute;
    bottom: var(--NavBar-height);
    width: 100%;
    z-index: 1;
    overflow-y:scroll;
    overflow-x:hidden;
    height: calc(80vh - var(--NavBar-height));
    font-size: 1rem;
}

.Info__header {
    display: flex;
    justify-content: center;
    padding-top: 0.9375rem;
}

.Info__header-title {
    margin-bottom: 0;
}

.Info__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem; 
    text-align: justify;
}

.Info__icon {
    position: absolute;
    right: 0;
}

.Info__link {
    color: var(--primary-color);
    padding-bottom: 0.9375rem;
}