.ConstructionSiteForm {
  background-color: white;
  align-items: center;
  position: absolute;
  bottom: var(--NavBar-height);
  width: 100%;
  z-index: 20;
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(80vh - var(--NavBar-height));
  font-size: 1rem;
}

.ConstructionSiteForm__header {
  display: flex;
  justify-content: center;
  padding-top: 0.9375rem;
  margin-bottom: 1rem;
}

.ConstructionSiteForm__header-title {
  margin-bottom: 0;
}

.ConstructionSiteForm__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 1rem;
  padding-left: 1rem;
  text-align: justify;
}

.ConstructionSiteForm__icon {
  position: absolute;
  right: 0;
}

.ConstructionSiteForm__form {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
