.Header {
    background: var(--NavBar-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    z-index: 1;
    border-bottom: solid black 2px;
}

.Header__exitButton{
    margin-right: 1vw;
    color: var(--primary-color);
    text-align: center;
    padding: 0.875rem 1rem;
    font-size: 1.5rem;
    background-color: transparent;
    border:none;
    outline: none;
}