.Header {
    background: var(--NavBar-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    z-index: 1;
    border-bottom: solid black 2px;
    margin: auto;
}


@media(min-width:1024px){
    .Header {
        justify-content: flex-start;
    }
}
