/* Place the navbar at the bottom of the page, and make it stick */
.NavBar {
    background-color: rgb(255, 255, 255, .8);
    /* overflow: hidden; */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: var(--NavBar-height);
}

/* Style the links inside the navigation bar */
.NavBar__info {
    color: #f2f2f2;
    text-align: center;
    padding: 0.875rem 1rem;
    font-size: 1.0625rem;
    background-color: transparent;
    border:none;
    outline: none;
}

/* Change the color of links on hover */
.NavBar__info:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.NavBar__info:active {
    background-color: var(--primary-color);
    color: white;
}

.NavBar__icon{
    color: #179A38;
}
/* media query laptops */
@media (min-width: 62em) {

    .NavBar {
        height: calc(100% - var(--Header-height));
        width: 2.5rem;
        left: 0;
        top: var(--Header-height);
    }

    .NavBar__info {
        padding: 0.875rem 1.0625rem;
    }

}
