.Mapper {
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

.leaflet-right{
  margin-top: calc(3rem + 25px);
}

#box-zoom-button{
  border-radius: 4px;
  border:none !important;
  margin-right: 10px !important;
  padding: 0 !important;
}

.leaflet-control{
  width: 30px !important;
  border: none !important;
}
.leaflet-bottom{
  display: none !important;
}
