.Mapper {
  height: 100%;
  width: 100vw;
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.leaflet-right {
  margin-top: var(--Header-height);
}

#box-zoom-button {
  border-radius: .25rem;
  border: none !important;
  margin-right: .625rem !important;
  padding: 0 !important;
}

.leaflet-control {
  width: 30px !important;
  border: none !important;
  box-shadow: none !important;
}

.leaflet-bottom {
  display: none !important;
}
