.Mapper {
  height: 100%;
  width: 100vw;
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.leaflet-right {
  margin-top: var(--Header-height);
}

#box-zoom-button {
  border-radius: .25rem;
  border: none !important;
  margin-right: .625rem !important;
  padding: 0 !important;
  /* width: 30px !important;
  height: 30px !important; */
}

.leaflet-control, .leaflet-bar{
  width: 30px !important;
  border: none !important;
  box-shadow: none !important;
  z-index: 1 !important;
}

.leaflet-bottom {
  display: none !important;
}

.leaflet-draw-toolbar .leaflet-draw-edit-edit {
  background: url('./pencil-alt-solid.svg') no-repeat center !important;
  color:red !important;
  background-color: #FFF !important;
  background-size: 70% !important;
}

.leaflet-draw-toolbar, .leaflet-control-zoom, #box-zoom-button {
  border:#179A38 solid 2px !important;
}
