@import '~normalize.css';
@import '~leaflet/dist/leaflet.css';
@import '~leaflet-draw/dist/leaflet.draw.css';
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400&display=swap');
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --Logo-height: 3rem;
  --Logo-margin: .3125rem;
  --Header-height: calc(var(--Logo-height) + var(--Logo-margin) * 2);
  --NavBar-color: white;
  --NavBar-height: 3.75rem;
  --primary-color: #179A38;
  --secondary-color: #03030A;
}

.sr-only {
  display: none;
}