@import '~normalize.css';
@import '~leaflet/dist/leaflet.css';
@import '~leaflet-draw/dist/leaflet.draw.css';
 
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  --Logo-height: 3rem;
  --Logo-margin: .3125rem;
  --Header-height: calc(var(--Logo-height) + var(--Logo-margin) * 2);
  --NavBar-color: rgba(0, 0, 0, 0.5);
  --NavBar-height: 3.125rem;
  --primary-color:#179A38;
}


.sr-only {
  display: none;
}
